<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

       <!-- ROBOT PLUGIN --> 
	<ros2_control name="SpacelabRobotPositionningSystem" type="system">
		<hardware>
		   <plugin>custom_armbot_hardware/dof6botSystem</plugin>
	    </hardware>
		<joint name="joint_1_2">
			<!-- Definition of the command interface-->
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<!-- Definition of the state interfaces-->
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_2_3">
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_3_4">
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_4_5">
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_5_6">
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_6_7">
			<command_interface name="position">
				<param name="min">{-2*pi}</param>
				<param name="max">{2*pi}</param>
			</command_interface>
			<command_interface name="velocity">
				<param name="min">-3.15</param>
				<param name="max">3.15</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>
		<joint name="joint_EE_Lgripper">
			<command_interface name="position">
				<param name="min">0.0</param>
				<param name="max">0.02</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint> 
		<joint name="joint_EE_Rgripper">
				<param name="mimic">joint_EE_Lgripper</param>
				<param name="multiplier">-1</param>
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<!-- Force & Torque Sensor definition -->
		<sensor name="tcp_fts_sensor">
			<state_interface name="force.x"/>
			<state_interface name="force.y"/>
			<state_interface name="force.z"/>
			<state_interface name="torque.x"/>
			<state_interface name="torque.y"/>
			<state_interface name="torque.z"/>
		</sensor>

	</ros2_control>
	
</robot>
