<?xml version="1.0"?>
<robot name="spacelab_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Definition of the lidar joint --> 
    <joint name="joint_world_lidar" type="fixed">
      <origin xyz="0.8 0.0 1.4" rpy="3.141592 0.0 3.141592" />
      <parent link="world"/>
      <child link="link_lidar"/>
    </joint>

    <!-- Definition of the lidar link that will be used to position the 3D shape --> 
    <link name="link_lidar">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="1.0" />
        <inertia ixx="0.003" ixy="0" ixz="0"
          iyy="0.003" iyz="0"
          izz="0.009"/>
      </inertial>
      <visual>
        <geometry>
        <mesh filename="package://${PKG_Name}/description/meshes/LIDAR.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
        <mesh filename="package://${PKG_Name}/description/meshes/LIDAR.dae"/>
        </geometry>
      </collision>
    </link>

    <!-- Definition of additional lidar joint that will be used to position the lidar focal--> 
    <joint name="joint_lidar_laser" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -1.570796 0.0" />
      <parent link="link_lidar"/>
      <child link="link_laser"/>
    </joint>

    <link name="link_laser">
    </link>

    <!-- Definition of the lidar as a ray sensor inside gazebo --> 
    <gazebo reference="link_laser">
        <sensor type="ray" name="lidar_3d">
          <pose>0 0 0 0 0 0</pose>
          <visualize>false</visualize>
          <update_rate>10</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>50</samples>
                <resolution>1</resolution>
                <min_angle>-0.2</min_angle>
                <max_angle>0.2</max_angle>
              </horizontal>
              <vertical>
                <samples>50</samples>
                <resolution>1</resolution>
                <min_angle>-0.2</min_angle>
                <max_angle>0.2</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.3</min>
              <max>10.0</max>
              <resolution>0.001</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </ray>
          <!-- Gazebo requires the velodyne_gazebo_plugins package to simulate the interfaces of the LIDAR-->
          <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_lidar_3d.so">
            <topicName>/lidar_3d_points</topicName>
            <frameName>link_laser</frameName>
            <min_range>0.3</min_range>
            <max_range>10.0</max_range>
            <gaussianNoise>0.0005</gaussianNoise>
          </plugin>
        </sensor>
    </gazebo>
  
</robot>
